#barra_acessibilidade {
    display: none;
}

li {
    list-style-type: none;
 
}

#menu {
    display: none;
}


#campos {
    color: grey;
}


input.form-control.success {
    border-color: green
}

textarea.form-control.success {
    border-color: green
}


input.form-control.error {
    border-color: red;
}

textarea.form-control.error {
    border-color: red
}

.input-erro {
    display: none;
    visibility: hidden;

}


input.form-control.error ~ .input-erro {
    color: red;
    display: block;
    
}

textarea.form-control.error ~ .input-erro {
    color: red;
    display: block;
    
}




