#barra_acessibilidade {
    display: none;
}

li {
    list-style-type: none;
 
}

#menu {
    display: none;
}


#campos {
    color: grey;
}


input.form-control.success {
    border-color: green
}

input.form-control.error {
    border-color: red;
}

input ~ span {
    visibility: hidden;
}

textarea ~ span {
    visibility: hidden;
}


input ~ span.error {
    visibility: visible;
    color: red;
}


textarea ~ span.error {
    visibility: visible;
    color: red;
}



